@{
	Layout = "_LayoutDeslogada";
	ViewData["Title"] = "Página Restrita";
}

<div class="text-center">
	<p>O Usuário não possui permissão para acessar está página <a asp-action="Index" asp-controller="Home" >Click aqui para voltar para home.</a> </p>
</div>
