@model UsuarioModel
@{
	ViewData["Title"] = "Confirmação apagar Usuário";
}



	<div class="text-center  mb-5" >
		<h3>Realmente deseja apagar o Usuario abaixo? </h3>
		<hr />
		<h2> @Model.Nome</h2>
		<hr />
	</div>

	<a role="button" class="btn-secondary btn btn-block" asp-controller="Usuario" asp-action="Index" >Cancelar Exclusão</a>
	<a role="button" class="btn-danger btn btn-block" asp-controller="Usuario" asp-route-id="@Model.Id"  asp-action="Apagar" >Confirmar Exclusão</a>
